.hero-img {
  margin-top: 5%;
  border-radius: .5rem;
}

.hero-input {
  width: 100%;
  margin-top: 60px;
  font-size: 17px;
  margin-bottom: 6%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding-left: 10px;
  font-family: sans-serif;
}


.hero-text {
  color: black;
  font-family: sans-serif;
}